<ion-view sb-page-background sb-padlock class="padlock-view" can-swipe-back="false">
    <ion-nav-title>{{ page_title }}</ion-nav-title>
    <ion-content>
    
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle text-center>{{ "Access restricted to authorized members only" | translate }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
        <p text-center><ion-text color="dark"><ion-icon name="lock" style="font-size:1200%;"></ion-icon></ion-text></p>
        </ion-card-content>
        <ion-card-content  ng-show="!is_loading" ng-if="is_logged_in && unlock_by_account_type">
                <p ng-if="!app_is_locked">{{ "We are sorry but your account does not have enough permissions to access this page" | translate }}</p>
                <p ng-if="app_is_locked">{{ "We are sorry but your account does not have enough permissions to access this application" | translate }}</p>
        </ion-card-content>
        <ion-card-content  ng-show="!is_loading">
                <p  ng-if="description" text-center><span  ng-bind-html="description"></span></p>
                <ion-button color="medium" expand="block" fill="outline" ng-click="padlock_logout()" ng-show="!is_loading" ng-if="is_logged_in && unlock_by_account_type"><ion-icon slot="start" name="exit"></ion-icon>{{ "Log-out" | translate }}</ion-button>
                <ion-button color="primary" expand="block" ng-click="padlock_login()" ng-show="!is_loading" ng-if="!is_logged_in && unlock_by_account_type"><ion-icon slot="start" name="person"></ion-icon>{{ "Log-in" | translate }}</ion-button>
                <ion-button color="secondary" expand="block" ng-click="padlock_signup()" ng-show="!is_loading" ng-if="!is_logged_in && unlock_by_account_type"><ion-icon slot="start" name="person-add"></ion-icon>{{ "Signup" | translate }}</ion-button>
                <ion-button color="secondary" expand="block" ng-click="openScanCamera()" ng-show="!is_loading" ng-if="!is_webview && unlock_by_qrcode_type"><ion-icon slot="start" name="qr-scanner></ion-icon>{{ "Scan now to unlock" | translate }}</ion-button>
        </ion-card-content>        
    </ion-card>



 
        <div class="loader"
             ng-show="is_loading">
            <ion-spinner class="spinner-custom"></ion-spinner>
        </div>
    </ion-content>
</ion-view>
